body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../imagens/Carros-JDM-2-O-que-e-JDM-1.jpg);
    background-size: cover;
    background-attachment: fixed;
}


header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.search-bar {
    margin: 20px auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
   
}

.search-bar button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #FF940D;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #ffb860;
}

main {
    padding: 20px;
}

#carList {
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}


nav ul li a {
    color: white;
    text-decoration: none;
}

.Lista {
    background-color: #333;
    position: fixed;
    top: 900px;
    left:50px;
    word-spacing: 10px;
}